#button {
            position: absolute;
            left: 32.5%   ;
            background: none; 
            color: black; 
            text-align: center;
            border-style: none; 
            text-align: center;
            font-size: x-large;
        }
        #reference {
            position:absolute;
            left: 47.5%;
            background: none;
            color: black;
            border-style: none;
            text-align: center;
            font-size: x-large;
        }
        #treti_button {
            position: absolute;
            left: 62.5%;
            background: none;
            color: black;
            border-style: none;
            text-align: center;
            font-size: x-large;
        }
        #zahlavi {
            text-align: center;
            position: absolute;
            top: 80%;
            left: 40%;
            font-size: x-large;
            color: black;
        }
        #zahlavi_gal {
            text-align: center;
            position: absolute;
            top: 80%;
            left: 50%;
            font-size: x-large;
            color: black;
            font-family: sans-serif;
        }
div.gallery {
  border: none;
}

div.gallery:hover {
  border: none;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 15px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.img {
  position: fixed;
  left: 0%;
  width: 19%;
  height: auto;
  border-width: 0px;
  border: none;

} 